*.py[cod]

# vi(m) swap files:
*.sw?

# C extensions
*.so

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
htmlcov
junit.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# File containing commit status, to be put into Docker
scm-source.json
